h1 {
  margin-bottom: -24px;
}

.input-field label.active {
  font-size: 1rem;
}

.data-field {
  margin-top: 56px;
}

.job-title input[type=text]:focus:not([readonly]) + label {
  color: #4caf50;
}

.job-title input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

.job-title input[type=text].valid {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}
.job-title .input-field label.active,
.job-title .input-field .prefix.active {
  color: #4caf50;
}

.location input[type=text]:focus:not([readonly]) + label {
  color: #ff9800;
}

.location input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}

.location input[type=text].valid {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}

.location .input-field label.active,
.location .input-field .prefix.active {
  color: #ff9800;
}



.location .state input[type=text]:focus:not([readonly]) + label {
  color: #2196F3;
}

.location .state input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}

.location .state input[type=text].valid {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}

.location .input-field.state label.active,
.location .input-field.state .prefix.active {
  color: #2196F3;
}




.salary input[type=number]:focus:not([readonly]) + label {
  color: #9c27b0;
}

.salary input[type=number]:focus:not([readonly]) {
  border-bottom: 1px solid #9c27b0;
  box-shadow: 0 1px 0 0 #9c27b0;
}

.salary input[type=number].valid {
  border-bottom: 1px solid #9c27b0;
  box-shadow: 0 1px 0 0 #9c27b0;
}

.salary .input-field label.active,
.salary .input-field .prefix.active {
  color: #9c27b0;
}

.btn {
  margin-top: 32px;
}

.btn,
.btn:active,
.btn:focus,
.btn:hover {
  background-color: #2196F3;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}