<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/material_icons.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css">
    <title>OpenLabor</title>
  </head>

  <body>


  <div class="section no-pad" id="collect_data">
    <div class="container">
      <h1 class="header blue-text">Hello.</h1>
      <div class="row">
        <form class="col s12" autocomplete="off">

          <div class="row">
            <div class="input-field col s12">
              <input id="job_title" type="text" class="validate">
              <label for="job_title">What is your job title?</label>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>





    <script src="js/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/typeahead.jquery.min.js"></script>
  </body>
</html>