<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/surface_relevance_styles.css">
    <title>OpenLabor</title>
  </head>

  <body>
    <div class="section no-pad" id="collect_data">
      <div class="container">

        <div class="row valign-wrapper">
          <div class="col s6"><h1 id="job_title" class="header blue-text"></h1></div>
          <div class="col s6 right-align">
            <h5 class="the_city"><span class="city"></span>, <span class="state"></span></h5>
          </div>
        </div>

        <div class="row valign-wrapper salary-text">
          <div class="col s2"></div>
          <div class="col s3"><h5 class="valign center-align">Your salary</h5></div>
          <div class="col s2"></div>
          <div class="col s3"><h5 class="valign center-align">Average salary</h5></div>
          <div class="col s2"></div>
        </div>

        <div class="row valign-wrapper">
          <div class="col s2"></div>
          <div class="col s3"><h2 class="valign center-align" id="your_salary"></h2></div>
          <div class="col s2"><h2 class="valign center-align" id="equality_sign"></h2></div>
          <div class="col s3"><h2 class="valign center-align" id="average_salary"></h2></div>
          <div class="col s2"></div>
        </div>

        <div class="row similar_jobs_module">
          <div class="col s6">
            <p class="flow-text">Similar jobs to your current role:</p>
            <ul id='glassdoor_job_list'></ul>
          </div>
        </div>
      </div>
    </div>



    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/relevance.js"></script>
  </body>
</html>